/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; /* Altere para a cor de fundo desejada */
    font-family: 'Roboto', sans-serif; /* Fonte para o corpo */
}

/* Container principal */
.main-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo do banner */
.banner {
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
}

.banner-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* Seção de Fórum */
.forum {
    text-align: center;
    margin-top: 15px;
}

.forum h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.lin {
    text-decoration-line: none;
}

/* Estilo para centralizar os cards no fórum */
.forum-options {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.option img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.option p {
    font-size: 18px;
    color: #555;
}

.card_forum {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
}

.card_forum:hover {
    transform: scale(1.05);
}

.card-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.card-description {
    color: #666;
}

/* Seção de Cursos Gratuitos */
.cursos-gratuitos {
    text-align: center;
    margin-bottom: 40px;
}

.cursos-gratuitos h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Container que alinhará os cursos verticalmente */
.cursos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Grade de cards na seção de cursos gratuitos */
.novidades-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    border-radius: 8px;
    padding: 15px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.card-description {
    color: #666;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .novidades-grid, .forum-options {
        flex-direction: column;
        align-items: center;
    }

    .card, .card_forum {
        width: 100%;
        margin-bottom: 20px;
        max-width: 400px;
    }
}

/* Seção de Curiosidades */
.curiosidades {
    text-align: center;
    margin-bottom: 40px;
}

.curiosidades h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.curiosidades img {
    width: 70%;
    border-radius: 10px;
}

/* Estilo de bolinhas */
.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
