* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens no topo */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.userimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px; 
}

.post-content {
    flex: 1;
}

.post-item h3 {
    margin: 0;
    font-size: 18px;
}

.post-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.post-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.post-item a:hover {
    color: #007bff;
}

.search-bar {
    width: 98%;
    margin: 20px 0;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    justify-content: center;
}

.header .logo-container img {
    width: 150px;
}

.imgpost {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.sidebar h2 {
    font-size: 18px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sidebar ul li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    color: #555;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user-profile img{
    border-radius: 25px;
    color: #007bff;
}